@import '@/assets/scss/variables.scss';
$annotationColor: lighten($textSubColor, 30);
.annotationBtn{
    border-bottom: 1px solid $annotationColor;
    padding-right: .25rem;
    font-size: 1rem;
    cursor: pointer;
    span{
        color: $annotationColor;
        font-size: 0.6rem;
        pointer-events: none;
    }
}
.annotationDropdown{
    width: 100%;
    height: auto;
    font-size: .75rem;
    opacity: 0;
    transition: opacity 1s 0.5s;
    z-index: 1;
    @media screen and (max-width:501px){ // For mobile
        display: none;
    }
    &::before{
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba($blackColor, 0.3);
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: -1;
    }
    .annotationContent{
        visibility: hidden;
        transition: visibility 1s 0.5s;
        color: $annotationColor;
		margin-bottom: 0 !important;
        padding: 0.25rem;
        background-color: $whiteColor;
    }
    .annotationImage{
        width: 100%;
        padding: .5rem;
        background-color: $whiteColor;
    }
    &.open{
        opacity: 1;
        border-radius: .25rem;
        background-color: $whiteColor;
        @media screen and (max-width:501px){ // For mobile
            display: block;
        }
        .annotationContent{
            visibility: visible;
        }
    }
    &.bottom{
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 1;
        @media screen and (max-width:501px){ // For mobile
			width: calc(100% + 2rem);
			left: -1rem;
            padding: 0 1rem !important;
			.annotationContent{
				margin-bottom: 0.5rem !important;
			}
        }
        &.left{
            border: 1px dashed rgba($blackColor, 0.3);
            pointer-events: none;
        }
        &.right{
            border: 1px dashed rgba($blackColor, 0.3);
            left: auto;
            right: 0;
            pointer-events: none;
        }
    }
    &.rowLayout{
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 16rem;
        right: -16rem;
        @media screen and (max-width:501px){
            position: relative;
            width: 100%;
            left: 0;
        }
    }
}