@import '@/assets/scss/variables.scss';
#headerActionWrapper{
	@extend %verticalCenter;
	position: relative;
	align-items: self-start;
	z-index: 3;
	padding: 3rem;
	background-color: transparent !important;
	@media screen and (max-width:501px){
        padding: 2rem;
    }
	h1, h2, h3{
		color: $blackColor;
	}
	.titleBox{
		align-items: flex-start;
	}
	.logoBox{
		display: inline-block;
		text-align: left;
		height: 3rem;
		margin: 0.5rem;
	}
	footer{
		width: 100%;
		text-align: center;
	}
}