@import '@/assets/scss/variables.scss';
#headerMain{
	position: relative;
	width: 100vw;
	height: 200vh;
	background-color: $whiteColor;
	overflow: hidden;
}
#headerCover{
	@extend %fixedLeftLayout;
	width: 100%;
	height: 100vh;
	z-index: 0;
	&:after{
		content: '';
		@extend %absoluteLeftLayout;
		width: 100%;
		height: 100%;
		background-color: rgba($whiteColor, 0.6);
	}
	#videoWapper, #gifWapper{
		height: 100%;
	}
	#videoWapper{
		@extend %imgCommom;
        background-size: 5rem;
		.vjs-loading-spinner{
			display: none;
		}
        .vjs_video_3-dimensions{
            width: auto;
        }
        .videoBox{
            height: 100%;
			video{
				height: 100%;
			}
			@media (min-aspect-ratio: 8/5) {
				width: 100%;
				height: auto;
				video{
					width: 100%;
					height: auto;
				}
			}
        }
	}
	#gifWapper{
		@extend %imgCommom;
		background-image: url('../assets/video/studio_m.gif');
		background-size: cover;
	}
}
#headerTitle{
	height: 100vh;
	@extend %verticalCenter;
	background-color: transparent;
	box-sizing: border-box;
	padding: 3rem;
	@media screen and (max-width:501px){
        padding: 2rem;
    }
	h1, h2, h3{
		color: $blackColor;
	}
	.titleBox{
		align-items: flex-start;
		z-index: 1;
	}
	.logoBox{
		display: inline-block;
		text-align: left;
		height: 3rem;
		margin: 0.5rem;
	}
	footer{
		width: 100%;
		text-align: center;
	}
	.buttonActionBox{
		position: fixed;
		top: .75rem;
		right: 3rem;
	}
}
#aricle1{
    position: relative;
    width: $mapAsideWidth*1.2;
    @media screen and (max-width:501px){
        width: 90%;
    }
    height: auto;
	@extend %contentPadding;
    @extend %whiteCardShadow;
	margin: 15% auto;
    border-radius: .25rem;
    border: 1px solid rgba($blackColor, 0.3);
    background-color: rgba($whiteColor, 0.9);
}