@import '@/assets/scss/variables.scss';
@import '@/assets/scss/main.scss';

#homePage{
	overflow: hidden;
	*{
		box-sizing: border-box;
	}
	&.langEn{
		h6{
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}
}

// main_scrollama - start
#main_scrollama{
	z-index: 1;
}

.apexChartContainer{
	width: $mapAsideWidth;
}

.infoBox{
	display: inline-flex;
	align-items: flex-end;
	button{
		@extend %underLineBtn;
	}
}
.mapLabelBox{
	width: 11rem;
	height: 11.5rem;
	border: 2px solid #ddd;
	border-radius: 0.3rem;
	h6{
		font-size: 1rem;
		font-weight: 500;
	}
	p{
		font-size: 0.7rem;
		line-height: 1;
	}
	h6, p{
		margin-bottom: 0 !important;
		text-align: center !important;
	}

}
.underLineBtn{
	@extend %underLineBtn;
}
// main_scrollama - end

.toggleLayerBtn{
	margin-left: .25rem;
	border-radius: 1rem;
	border: 2px solid darken($whiteColor, 10);
	background-color: darken($whiteColor, 2.5);
	&:hover{
		background-color: darken($whiteColor, 5);
	}
}

.path-stroke-transparent{
    path{
        stroke: transparent;
    }
}