@import '@/assets/scss/variables.scss';
@import '@/assets/scss/main.scss';

#homePage{
	overflow: hidden;
	*{
		box-sizing: border-box;
	}
	&.langEn{
		h6{
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}
}

// main_scrollama - start
#main_scrollama{
	z-index: 0;
	>div{
	    position: relative;
		color: $textSubColor;
		background-color: $whiteColor;
		h6, p{
			position: relative;
			width: 100%;
			text-align: left;
			margin-bottom: 1rem;
		}

		height: 100vh;
		&.cardContainer{
			@extend %verticalCenter;
			background-color: transparent;
			@media screen and (max-width:501px){
				justify-content: flex-start;
				margin-top: 20vh;
			}
		}
		&.carouselContainer{
			@extend %contentPadding;
			@media screen and (max-width:501px){
				height: auto;
			}
		}
		&.contentPadding{
			@extend %contentPadding;
		}
		&.fullContainer{
			height: 200vh;
		}
		&.fullchartContainer{
			@extend %contentPadding;
			padding-top: 5rem;
		    @media screen and (max-width:501px){
				height: 140vh;
			}
			h6{
				flex-basis: 50rem;
			}
			p{
				display: block;
			}	
		}
		&.rowBox{
			@extend %horizontalCenter;
			@media screen and (max-width:501px){
				display: block;
				position: relative;
			}
		}
		&.mapContainer{
			@media screen and (max-width:501px){
				height: 200vh;
				>*{
					height: 100vh;
				}
			}
		}
		&#chapter4{
			height: auto;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
}

.apexChartContainer{
	width: $mapAsideWidth;
}

.mapLabelBox{
	position: absolute;
	bottom: 0;
	left: 2rem;
	z-index: 0;
	>div{
		width: 15rem;
		height: auto;
		border: 2px solid $grayColor;
		background-color: $whiteColor;
		border-radius: 0.5rem;
		margin: 1rem 0;
		padding: 0.5rem;
		h6{
			font-size: 1rem;
			font-weight: 500;
		}
		p{
			font-size: 70%;
		}
		h6, p{
			margin-bottom: 0 !important;
			text-align: center !important;
		}
	}
	.legendBox{
		width: 11rem;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		span{
			margin: 0 .5rem;
		}
	}
}

.toggleBtn{
	display: inline-flex;
	align-items: center;
	&::before{
		content: attr(data-attr);
		margin-right: .5rem;
		font-size: 0.9rem;
	}
	button{
		height: 2rem;
		border: 1px solid lighten($textSubColor, 15);
		color:  lighten($textSubColor, 15);
		margin: 0;
		padding: 0 .25rem;
		min-width: 3rem;
		&:first-child{
			border-radius: 2rem 0 0 2rem;
			border-right-width: 0px;
		}
		&:last-child{
			border-radius: 0 2rem 2rem 0;
		}
		&.active{
			border-color: darken($blueColor, 30);
			color: darken($blueColor, 30);
			background-color:rgba($blueColor, 0.2);
		}
	}
}
// main_scrollama - end

.toggleLayerBtn{
	margin-left: .25rem;
	border-radius: 1rem;
	border: 2px solid darken($whiteColor, 10);
	background-color: darken($whiteColor, 2.5);
	&:hover{
		background-color: darken($whiteColor, 5);
	}
}

.path-stroke-transparent{
    path{
        stroke: transparent;
    }
}

.annotationbox{
	position: relative;
	.annotationDropdown{
		padding: 0 !important;
	}
}