@import '@/assets/scss/variables.scss';
@import '@/assets/scss/main.scss';

#homePage{
	overflow: hidden;
	*{
		box-sizing: border-box;
	}
	&.langEn{
		h6{
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}
}

// main_scrollama - start
#main_scrollama{
	z-index: 1;
	.block_scrollama {
		position: relative;
		height: 100vh;
		color: $textSubColor;
		// @media screen and (max-width:501px){
		// 	width: 80%;
		// }
	}
	h6, p{
		width: 100%;
		text-align: left;
		margin-bottom: 1rem;
	}
}

.textbox{
	@extend %verticalCenter;
	>div{
		width: 32em;
		height: auto;
		@media screen and (max-width:501px){
			width: 90%;
		}
		@extend %whiteCardShadow;
		@extend %contentPadding;
		border-radius: .25rem;
		border: 1px solid rgba($blackColor, 0.3);
		background-color: rgba($whiteColor, 0.8);
	}
}
.infoBox{
	display: inline-flex;
	align-items: flex-end;
	button{
		@extend %underLineBtn;
	}
}
.underLineBtn{
	@extend %underLineBtn;
}
// main_scrollama - end

#map_container{
	position: fixed;
	width: calc(100% - #{$mapAsideWidth});
	height: 100vh;
	top: 0;
	left: $mapAsideWidth;
	opacity: 1;
	z-index: 0;

	transition-property: all;
	transition-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.toggleLayerBtn{
	margin-left: .25rem;
	border-radius: 1rem;
	border: 2px solid darken($whiteColor, 10);
	background-color: darken($whiteColor, 2.5);
	&:hover{
		background-color: darken($whiteColor, 5);
	}
}

.path-stroke-transparent{
    path{
        stroke: transparent;
    }
}