@import '@/assets/scss/variables.scss';
.rowBox{
    .imgBox{
        width: calc(100% - $mapAsideWidth);
        @media screen and (max-width:501px){
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: 0;
        }
    }
}

.fullContainer{
    .articalBox{
        height: 100vh;
        &.fixedbox{
            position: fixed;
            top: 0;
        }
        &.blockBottom{
            position: absolute;
            bottom: 0;
        }
    }
    .imgBox{
        height: 100vh;
        &.blockBottom{position: absolute;bottom: 0;right:0;z-index: 0;}
    }
    .cardBox{
        &.blockFixed{
            position: fixed;
            height: 100vh;
            z-index: 2;
        }
    }
}

.articalBox{
    position: relative;
    width: $mapAsideWidth;
    @extend %verticalCenter;
    @extend %contentPadding;
    padding-top: 10vh;
    @media screen and (max-width:501px){
        position: absolute;
        padding-top: 1rem;
        width: 100vw;
        top: 0;
        z-index: 10;
        background-color: rgba($whiteColor, 0.8);
    }
}

.rowFlex{
    position: relative;
    @extend %horizontalCenter;
    @media screen and (max-width:501px){
        display: block;
    }
}

.halfRowHeader{
    @extend %horizontalCenter;
    @media screen and (max-width:501px){
        flex-direction: column;
    }
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    :first-child{
        position: relative;
        max-width: calc(100vw - 25rem);
        @media screen and (max-width:501px){
            max-width: none;
        }
    }
}

%imgBlock{
    @extend %imgCommom; 
    position: absolute;
    background-position-x: center;
    background-size: cover;
    @media screen and (max-width:641px){
        background-position-x: center;
        background-position-y: top;
    }
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.5s;

    opacity: 0;
    &.active{
        opacity: 1;
    }
    &.activeOpacity{
        opacity: 0.4;
    }
}

.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    &.fixedbox{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: $whiteColor;
        z-index: 2;
    }
    // &::after{
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba($whiteColor, 0.5);
    //     z-index: 1;
    //     transition: background-color 0.5s;
    //     transition: display 0.5s 1s;
    // }
    // &.currStep::after{
    //     background-color: transparent;
    //     display: none;
    // }
    .bgBlock{
        @extend %imgBlock;
        &.imgCenter{
            background-position-x: center;
        }
        &.imgLeft{
            background-position-x: left;
        }
    }
}

.cardBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    >div{
        position: absolute;
        z-index: 2;
        &.top{
            top: 5rem;
        }
        &.left{left: -.5rem;}
        &.right{right: 3rem;}
        &.middle{top: calc(100vh - 32.5rem);} 
        &.middle2{top: calc(100vh - 27.5rem);} 
        &.button{top: auto; bottom: 5rem;} 
        &.mapLabel{
            top: 10rem;
            left: 1rem;
        }
        @media screen and (max-width:501px){
            &.top{top: 2.5rem;}
            &.right{right: 1rem;}
            &.middle{top:auto; bottom: 1rem;}
        }
    }
    .title, .content>div{
		@extend %titleCardShadow;
    }
    .title{
        padding: .5rem 3rem;
        h6{font-size: 1.2rem;margin-bottom: 0;font-weight: bold;}
        p{font-size: 0.8rem;margin-bottom: 0;}
    }
    .content{
        max-width: 20rem;
        &.large{
            max-width: 50vw;
        }
        >div{
            margin-bottom: 1rem;
            padding: .5rem .5rem;
            font-size: 0.8rem;
        }
    }
}

.hide{
	visibility: hidden;
	opacity: 0;
}

// carousel start
$carouselTabBtnHeight: 3rem;
.carouselHeader{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.carousel{
    position: relative;
    padding-top: 0;
    z-index: 0;
    &-header{
        @extend %horizontalCenter;
        width: 100%;
        height: $carouselTabBtnHeight;
    }
    &-btn{
        @extend %horizontalCenter;
        height: $carouselTabBtnHeight;
        color:  darken($textSubColor, 15);
        button{
            @extend %underLineBtn;
            opacity: 0.5;
            &.slideActive{
                opacity: 1;
            }
        }
    }
    .carousel-image{
        position: relative;
        width: 100%;
        height: calc(100vh - 5em);
        @media screen and (max-width:501px){
            height: calc(100vh - 8em);
        }
        >div{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            &.slideActive{
                .imgContainer{
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
        .imgContainer{
            @extend %bgimage;
            background-size: cover;
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
            transition: opacity 1s;
            .imgLabelContainer{
                @extend %bgimage;
                background-size: cover;
                position: absolute;
                bottom: .5rem;
                left: .5rem;
                width: 9rem;
                height: 9rem;
            }
        }
        .chartLabel{
            right: 0;
            top: -2.25rem;
            width: 12rem;
            height: 2rem;
            @media screen and (max-width:501px){
                top: -4rem;
            }
        }
    }
}
//carousel end

//chart label start
.chartLabel{
    font-size: 0.7rem;
    color: #999;
    >div{
        text-align: center;
        height: 1rem;
        line-height: 1.1;
        padding: 0 1rem;
        color: $whiteColor;
    } 
}

.cardBox .mapLabel{
    position: absolute;
    top: 7.5rem;
    left: 1rem;
    .chartLabel{
        justify-content: flex-start;
        margin-bottom: .5rem;
        color: #777;
        > span{
            padding: 0 .5rem;
        }
        > div:not(.icon){
            padding: 0 1.5rem;
        }
    }
}
//chart label end

.svgHeader{
    @extend %horizontalCenter;
    justify-content: space-between;
    svg {
        path {
            stroke: $whiteColor;
            fill: darken($grayColor, 10);
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                fill: darken($grayColor, 20);
            }
            &.active{
                fill: darken($grayColor, 40);
            } 
            &.none{
                fill: lighten($grayColor, 5);
                cursor: not-allowed;
            } 
        }
        text{
            font-size: 2em;
            fill: darken($grayColor, 60);
        }
        g.active path{
            fill: darken($grayColor, 40);
        }
    }
    ul{
        list-style-type: none;
        width: 11rem;
        li{
            display: inline-block;
            color: darken($grayColor, 20);
            border: 1px solid darken($grayColor, 20);
            cursor: pointer;
            padding: 0 .5rem;
            margin: .3rem;
            border-radius: .1rem;
            line-height: 1.5;
            &.active {
                @extend %titleCardShadow;
                border-width: 1px;
                color: darken($grayColor, 40);
            }  
            &.none{
                display: none;
            } 
        }
    }
    @media screen and (max-width:501px){
        width: 100%;
        svg{
            display: none;
        }
        ul{
            width: 100% !important;
        }
    }
}

.chartActionBox{
    @extend %horizontalCenter;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    >div{
        padding-right: 1rem;
        button{
            height: 2rem;
        }
    }
    @media screen and (max-width:501px){
        flex-direction: column;
        margin: 1rem;
        >div{
            &::before{
                width: 6rem;
            }
            margin-bottom: .5rem;
        }
    }
    input{
        margin: 0 .25rem 0 .75rem;
    }
}