@import './variables.scss';

.contextbox{
	background-color: $whiteColor;
	>*{
		@extend %verticalCenter;
		@extend %contentPadding;
	}
	&.half{
		width: $mapAsideWidth;
	}
	&.full{
		z-index: 0;
	}
}

.rowBox{
    @extend %horizontalCenter;
    @media screen and (max-width:501px){
        display: block;
        position: relative;
    }
    .articalBox{
        width: $mapAsideWidth;
        @extend %verticalCenter;
        @extend %contentPadding;
        @media screen and (max-width:501px){
            position: absolute;
            width: 100vw;
            top: 0;
            z-index: 10;
            background-color: rgba($whiteColor, 0.8);
        }
    }
    .imgBox{
        width: calc(100% - $mapAsideWidth);
        @media screen and (max-width:501px){
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: 0;
        }
    }
}

.cardbox{
	@extend %verticalCenter;
	>div{
		width: $mapAsideWidth*1.2;
		height: auto;
		@media screen and (max-width:501px){
			width: 90%;
		}
		@extend %whiteCardShadow;
		@extend %contentPadding;
		border-radius: .25rem;
		border: 1px solid rgba($blackColor, 0.3);
		background-color: rgba($whiteColor, 0.8);
	}
}

.halfRowBox{
    @extend %horizontalCenter;
    align-items: flex-start;
    flex-wrap: wrap;
    @media screen and (max-width:501px){
        flex-direction: column;
    }
    :first-child{
        flex-basis: calc(100% - #{$mapGifWidth + 8rem});
        @media screen and (max-width:501px){
            flex-basis: auto;
        }
    }
    :last-child{
        flex-basis: $mapGifWidth;
        @media screen and (max-width:501px){
            flex-basis: auto;
        }
    }
}

%imgBlock{
    @extend %imgCommom; 
    position: absolute !important;
    background-position-x: center;
    background-size: cover;
    @media screen and (max-width:641px){
        background-position-x: center;
        background-position-y: top;
    }
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.5s;

    opacity: 0;
    &.active{
        opacity: 1;
    }
    &.activeOpacity{
        opacity: 0.4;
    }
}

.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    &.fixedbox{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: $whiteColor;
        z-index: 2;
    }
    .bgBlock{
        @extend %imgBlock;
        &.imgCenter{
            background-position-x: center;
        }
        &.imgLeft{
            background-position-x: left;
        }
    }
}

.cardBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    >div{
        position: absolute;
        z-index: 2;
        &.top{top: 5rem;}
        &.left{left: -.5rem;}
        &.right{right: 5rem;}
        &.middle{top: 60vh;} 
        &.middle2{top: 70vh;} 
        @media screen and (max-width:501px){
            &.top{top: 2.5rem;}
            &.right{right: 1rem;}
            &.middle{top:auto; bottom: 1rem;}
        }
    }
    .title, .content>div{
		@extend %titleCardShadow;
    }
    .title{
        padding: .5rem 3rem;
        h6{font-size: 1.2rem;margin-bottom: 0 !important;font-weight: bold;}
        p{font-size: 0.8rem;margin-bottom: 0 !important;}
    }
    .content{
        max-width: 20rem;
        &.large{
            max-width: 50vw;
        }
        >div{
            margin-bottom: 1rem;
            padding: .5rem .5rem;
            font-size: 0.8rem;
        }
    }

}

.hide{
	visibility: hidden;
	opacity: 0;
}

// .vertialSuper{
//     vertical-align: super;
//     font-size: 50%;
// 	opacity: 0.5;
// }

// carousel start
$carouselHeaderHeight: 20rem;
$carouselTabBtnHeight: 3rem;

.carouselContainer{
    z-index: 0;
    height: calc(90vh + #{$carouselHeaderHeight}) !important;
    > header{
        padding-top: 3rem;
        padding-bottom: 0;
        height: $carouselHeaderHeight;
    }
    .carousel{
        height: 90vh;
    }
}

.carousel{
    position: relative;
    padding-top: 0 !important;
    .carousel-header{
        @extend %horizontalCenter;
        justify-content: space-between;
        width: 100%;
        height: $carouselTabBtnHeight;
    }
    .carousel-btn{
        @extend %horizontalCenter;
        height: $carouselTabBtnHeight;
        button{
            @extend %underLineBtn;
            opacity: 0.3;
            &.slideActive{
                opacity: 1;
            }
        }
    }
    .carousel-image{
        position: relative;
        width: 100%;
        height: 100%;
        >div{
            position: absolute !important;
            top: 0;
            width: 100%;
            height: 100%;
            &.slideActive{
                .imgContainer{
                    transition: opacity 1s;
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
		.chartLabel{
			height: 2rem;
			right: 0;
			top: -2rem;
            @media screen and (max-width:501px){
                top: -4rem;
            }
		}
        .imgContainer{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
			// @media screen and (max-width:641px){
			// 	height: 90%;
			// 	background-size: cover;
			// 	background-position-x: center;
			// 	background-position-y: center;
			// }
            opacity: 0.5;
            z-index: 0;
        }
    }
    .imgLabelContainer{
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        width: 9rem;
        height: 9rem;
        background-size: cover;
        background-position: center;
    }
}
//carousel end
.svgHeader{
    @extend %horizontalCenter;
    svg {
        width: 55%;
        path {
            stroke: $whiteColor;
            fill: darken($grayColor, 10);
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                fill: darken($grayColor, 20);
            }
            &.active{
                fill: darken($grayColor, 40);
            } 
            &.none{
                fill: lighten($grayColor, 5);
                cursor: not-allowed;
            } 
        }
        text{
            font-size: 1.5rem;
            fill: darken($grayColor, 60);
        }
        g.active path{
            fill: darken($grayColor, 40);
        }
    }
    ul{
        list-style-type: none;
        width: 12.5em;
        li{
            display: inline-block;
            color: darken($grayColor, 20);
            border: 1px solid darken($grayColor, 20);
            cursor: pointer;
            padding: .1rem .5rem;
            margin: .5rem;
            border-radius: .1rem; 
            &.active {
                @extend %titleCardShadow;
                border-width: 1px;
                color: darken($grayColor, 40);
            }  
            &.none{
                display: none;
            } 
        }
    }
}