@import './variables.scss';

.cardbox{
	@extend %verticalCenter;
	>div{
		width: $mapAsideWidth*1.2;
		height: auto;
		@media screen and (max-width:501px){
			width: 90%;
		}

		@extend %whiteCardShadow;
		@extend %contentPadding;
		border-radius: .25rem;
		border: 1px solid rgba($blackColor, 0.3);
		background-color: rgba($whiteColor, 0.8);
	}
}

.contextbox{
	background-color: $whiteColor;
	>*{
		@extend %verticalCenter;
		@extend %contentPadding;
	}
	&.half{
		width: $mapAsideWidth;
	}
	&.full, &.carouselContainer{
		z-index: 0;
	}
}
.rowBox{
    display: flex;
    flex-direction: row;
    >*{
        &:first-child{
            width: $mapAsideWidth;
            @extend %verticalCenter;
            @extend %contentPadding;
        }
        &.imgBox{
            width: calc(100% - $mapAsideWidth);
        }
    }
}

.columnBox{
}

.halfRowBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    >*{
        flex-basis: 50%;
    }
}
.carouselContainer{
    // @media screen and (min-width:641px){
    //     max-width: 60em;
    //     margin: 0 auto;
    //     .carousel{
    //     }
    // }
    &.full{
        height: calc(100vh + 20rem) !important;
        >header{
            height: 20rem;
        }
    }
    > header{
        padding-top: 3rem;
        padding-bottom: 0;
    }
    .carousel{
        height: 100vh;
    }
    @media screen and (max-width:641px){
        height: 100vh;
        .carousel{
            height: 50vh;
        }
    }
}

%imgCommom{
    background-repeat: no-repeat;
    background-position: center;
}

%imgBlock{
    @extend %imgCommom; 
    position: absolute !important;
    // text-decoration: none;
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    @media screen and (max-width:641px){
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
    }
    opacity: 0;
    transition: opacity 1s ease;
    &.active{
        opacity: 1;
    }
    &.activeOpacity{
        opacity: 0.4;
    }
}

.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    .bgBlock{
        @extend %imgBlock;
        &.imgCenter{
            background-position-x: center;
        }
        &.imgLeft{
            background-position-x: left;
        }
    }
}

.cardBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    >div{
        position: absolute;
        &.top{top: 5rem;}
        &.left{left: -.5rem;}
        &.right{right: 5rem;}
        &.middle{top: 55vh;}
    }
    .title, .content>div{
        background-color: #fff;
        border: 2px solid #222;
        box-shadow: 5px 5px 0 rgba(#000, 0.2);
    }
    .title{
        padding: .5rem 3rem;
        h6{font-size: 1.2rem;margin-bottom: 0 !important;font-weight: bold;}
        p{font-size: 0.8rem;margin-bottom: 0 !important;}
    }
    .content{
        max-width: 18rem;
        &.large{
            max-width: 26rem;
        }
        >div{
            margin-bottom: 1rem;
            padding: .5rem .5rem;
            font-size: 0.8rem;
        }
    }

}
.fixedbox{
    position: fixed !important;
    top: 0;
    right: 0;
    // width: calc(100% - $mapAsideWidth);
    height: 100vh;
    background: $whiteColor;
    z-index: 2;
}

.absolutebox{
    position: absolute !important;
    top: 0;
    right: 0;
    width: calc(100% - $mapAsideWidth);
    height: 100vh;
    background: $whiteColor;
    z-index: 1;
}

.tooltipBox{
    width: 15rem;
    >*{
        word-break: break-all;
        white-space: normal;
        width: 15rem;
    }
    h6{
        font-size: 0.9rem;
        color: $blackColor;
    }
    p{
        font-size: 0.7rem;
        color: $textSubColor;
    }
}

.mapLegendBox{
	display: inline-flex;
	flex-direction: column;
    >div{
        position: relative;
		width: 14rem;
        font-size: .8rem;
        margin: 0.2rem 1rem;
		text-align: left;
        &:before {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            left: -1rem;
            top: 0.2rem;
        }
        &.yellow:before{
            background: $yellowColor;
        }
        &.blue:before{
            background: $blueColor;
        }
        &.red:before{
            background: $redColor;
        }
        &.taxiStationLegend:before{
            background: $defaultColor;
			border-radius: 50%;
        }
        &.hotspot100Legend:before{
            background: #d37264;
            height: 0.4rem;
            top: 0.4rem;
        }
    }
}

.compareMapbox{
    position: relative;
    height: 55vh;
    background-color: $grayColor;
    .maps{
        position: absolute;
        top: 0;
        bottom: 0;
        background: $whiteColor;
    }
    // .mapboxgl-canvas-container{
    //     height: 100%;
    // }
}

.hide{
	visibility: hidden;
	opacity: 0;
}

.vertialSuper{
    vertical-align: super;
    font-size: 50%;
	opacity: 0.5;
}

// carousel start
$carouselHeaderHeight: 3rem;
.carousel{
    padding-top: 0 !important;
    .carousel-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $carouselHeaderHeight;

    }
    .carousel-btn{
        display: flex;
        flex-direction: row;
        height: $carouselHeaderHeight;
        button{
            @extend %underLineBtn;
            opacity: 0.3;
            &.slideActive{
                opacity: 1;
            }
        }
    }
    .carousel-image{
        position: relative;
        width: 100%;
        height: calc(100% - #{$carouselHeaderHeight});
        // overflow: hidden;
        >div{
            position: absolute !important;
            top: 0;
            width: 100%;
            height: 100%;
            // transition: left 1s;
            &.slideActive{
                .imgContainer{
                    transition: opacity 2s;
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
		.chartLabel{
			height: 2rem;
			right: 0;
			top: -2rem;
		}
        .imgContainer{
            width: 100%;
            background-repeat: no-repeat;
			@media screen and (max-width:641px){
				height: 100%;
				background-size: cover;
				background-position-x: center;
				background-position-y: center;
			}
            opacity: 0.5;
            z-index: 0;
        }
    }
}
//carousel end